/***INDEX***/

header h1{
    font-size: 100px;
}
header nav {
    display: flex;
    justify-content: end;
    font-size: 50px;
}
.principal {
    background-color: rgb(105, 172, 5);
}
header nav a{
    color: white;
    border: solid black;
background-color: rgb(90, 109, 251);
}
header img {
    width: 100%;
    height: 300px;
}
.divEventos>h2 {
    font-size: 50px;
}
.divEventos .primerh2 {
    text-align: center;
    border: solid black;
    color: black;
    font-size: 100px;
}
.divEventos>p {
    font-size: 30px;
}

.divEventos .imgLogo {
    width: 300px;
    height: 300px;
}
/***FIN INDEX***/

/***ABOUT***/

.divAbout .h2About {
    text-align: center;
    border: solid black;
    color: black;
    font-size: 100px;
}
.divAbout .imgLogo {
    width: 300px;
    height: 300px;
}
.divAbout h2 {
    font-size: 50px;
}
.divAbout p {
    font-size: 30px;

}
/***FIN ABOUT***/

/***CONTACT***/

.divContact .h2Contact {
    text-align: center;
    border: solid black;
    color: black;
    font-size: 100px;
}
.divContact .imgLogo {
    width: 300px;
    height: 300px;
}
.divContact h2 {
    font-size: 50px;
}
.divContact p {
    font-size: 30px;

}
/***FIN CONTACT***/