*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/***INDEX***/
header {
    position: relative;
}

header h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}
header img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
}
main nav {
    justify-content: space-between;
    font-size: 20px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    height: 200px;
    
}
main a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: inline-block;
}


.divlogo {
    position: absolute;
    right: 1%;
    bottom: -27px;
}

.divlogo img {
    width: 200px;
    height: 200px;
}

.primerdiv {
    font-size: 20px;
    text-align: center;
    background-color:black;
    color: white;
    font-size: 40px;
    position: relative;
}

.divEventos{ 
    display: inline-block;
    margin-left: 50px;

}
.divEventos h2{
    font-size: 40px;
    
}
.divEventos p {
    font-size: 25px;
    margin-left: 40px;
    
}
/***FIN INDEX***/

/***ABOUT***/
.divAbout {
    margin-left: 50px;
}
.divAbout h2 {
    text-align: left;
    color: black;
    font-size: 40px;
}

.divAbout p {
    font-size: 20px;

}
/***FIN ABOUT***/

/***CONTACT***/
.divContacto {
    border: solid black;
    margin-left: 10%;
}
.divContacto p {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/***FIN CONTACT***/