*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/***INDEX***/

header h1{
    font-size: 50px;
    
}
main nav {
    position: absolute;
    top: 7%;
    right: 1%;
    display: flex;
    justify-content: end;
    font-size: 20px;
}
main nav a{
    color: white;
    border: solid black;
    background-color: rgb(90, 109, 251);
    padding: 5px;
    margin-left: 20px
}
.principal {
    background-color: rgb(105, 172, 5);
}

header img {
padding-top: 30px;
    width: 100%;
    height: 500px;
}
.primerdiv h2 {
    width: 100%;
    margin-top:-4px ;
    border: solid 5px black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
.primerdiv .divlogo img {
    position: absolute
    width: 300px;
    height: 300px;
}

main .divEventos {
    position: absolute;
    left: 30%;
    bottom: 2%;
}

main .divEventos h2 {
    font-size: 50px;
}

main .divEventos p {
    font-size: 30px;
}

/***FIN INDEX***/

/***ABOUT***/

main .divAbout {
    position: absolute;
    left: 30%;
    bottom: 5%;
}

main .divAbout h2 {
    text-align: center;
    
    
    color: black;
    font-size: 30px;
}
.divAbout p {
    font-size: 12px;
    text-align:justify ;
    text-indent: 1.5em;
    padding-right:20px ;
}
/***FIN ABOUT***/

/***CONTACT***/

.divContactos p {
    font-weight: 5px;
    position: absolute;
    left: 30%;
    bottom: 15%;
    font-size: 30px;
}
/***FIN CONTACT***/